body {
	text-decoration: none;
	text-align: center;
	font-family: Proxima Nova;
}

#bar {
	min-width: 1100px;
}

#maincontent {
	border: 2px solid #d1d1d1;
	border-radius: 3px;
	padding: 20px 20px;
	margin: 7% 7%;
}

div #header {
	font-size: 45px;
	font-weight: bold;
	text-align: center;
	line-height: 1.6em;
	margin-top: 70px;
}
a {
	color: black;
}

a:link {
	text-decoration: none;
}

a:hover {
	background-color: #c1c1c1;
	color: white;
}

#name {
	min-width: 500px;
}
.name {
	font-family: Abel;
	letter-spacing: 1px;
	display: inline-block;
	margin: 35px 99px 35px 99px;
	
	color: #c1c1c1;
	font-size: 18px;
}

.nav {
	display: inline-block;
	margin: 25px 41px;
}

.line {
	display: inline-block;
	background-color: #c1c1c1;
	width: 130px;
	height: 2px;
	z-index: 10;
	margin: 4px -10px;
	font-size: 18px;
}

/*.pic{
	width:1025px;
	background: url(sunburst_homepic.jpg) no-repeat;
}
.text{
	width:1025px;
	background:#FFF;
	opacity:0;
}
.pic:hover .text
{
	opacity:0.6;
	text-align:justify;
	color:#000000;
	font-size:20px;
	font-weight:700;
	font-family:"Times New Roman", Times, serif;
	padding:30px;
}*/